
html {
    background-color: #fafafa;
    font-family: 'Roboto Condensed';
}


.title {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    Padding: 25px;
    border-radius: 7px;
    background-color: #0c023e;
    color: #fff;
    width: 96%;
    margin-bottom: 10px;
}

.container {
    display: flex;
}

#sectorStat {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    Padding: 25px;
    border-radius: 7px;
    background-color: white;
    display: flex;
    width: fit-content;
    height: fit-content;
    font-size: 11px;

}

.Percentage, .Projects {
    margin-left: 25px;
}
.Percent, .Project {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-between;

}

#overall {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-radius: 7px;
    margin-top: 10px;
    align-content: center;
}

a {
    color: rgb(0, 99, 228);
    font-size: 17px;
    text-decoration: none;
    margin-top: .3em;
    display: inline-block;
    font-weight: bold;
    padding: .5em;
    margin-left: -.5em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    &:before, &:after {
        position: absolute;
        content: '';
        border-bottom: 3px solid rgb(0, 99, 228);
        border-radius: 1em;
        bottom: .3em;
        transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:before {
        width: 1em;
        transform-origin: left;
    }

    &:after {
        width: 82%;
        left: 1em;
        transform: translateX(110%);
    }

    &:hover:before {
        transform: scaleX(0.3);
    }

    &:hover:after {
        transform: translateX(0);
    }

}

.mapimg {
    width: 650px;
    height: 550px;
    margin-left: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-radius: 7px;
}

#KPI {
    margin-left: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-radius: 7px;
    background-color: white;
    Padding: 20px;
    align-content: space-between;
    width: 100%;
}

button {
    margin: 5px 5px 18px 5px;
    outline:none;
    height: 40px;
    text-align: center;
    width: 200px;
    border-radius:40px;
    background: #fff;
    border: 2px solid #2f387b;
    color:#2f387b;
    letter-spacing:1px;
    text-shadow:0;
    font:{
      size:11px;
      weight:bold;
    }
    cursor: pointer;
    transition: all 0.25s ease;
    &:hover {
      color:white;
      background: #2f387b;
    }
    &:active {
      //letter-spacing: 2px;
      letter-spacing: 2px ;
    }
    &:after {
      content:"";
    }
  }
  .onclic {
    width: 40px;
    border-color:rgb(179, 174, 174);
    border-width:3px;
    font-size:0;
    border-left-color:#2f387b;
    animation: rotating 2s 0.25s linear infinite;
  
    &:after {
      content:"";
    }
    &:hover {
      color:#2f387b;
      background: white;
    }
  }
  .validate {
    font-size:13px;
    color: white;
    background: #2f387b;
    &:after {
      font-family:'FontAwesome';
      content:"\f00c";
    }
  }
  
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  #overall {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-radius: 7px;
    background-color: white;
    Padding: 20px;
  }

  .riskimg {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-radius: 7px;
    margin-top: 10px;
    width: 100%;
  }
